@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1.title {
    font-family: 'Fredoka One', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
}

.form-container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

form label {
    font-size: 1.25rem;
}
